<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   
          <div style=" font-family:'Times New Roman'; color:black; background-color: darkslateblue" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!--
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                @Html.ActionLink("DELIVERYÁGUA&GÁS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

            @if (!Request.IsAuthenticated)
            {
                <!--ADMINISTRADOR -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PEDIDOS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <p class="dropdown-item">@Html.ActionLink("NOVO", "LoginView", "Login")</p> <!--MUDAR-->
                        <p class="dropdown-item">@Html.ActionLink("HISTORICO", "Details", "Usuario")</p>
                    </div>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DISTRIBUIDORAS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <p class="dropdown-item">@Html.ActionLink("CADASTRADAS", "LoginView", "Login")</p> <!--MUDAR-->
                            <p class="dropdown-item">@Html.ActionLink("CADASTRAR NOVA", "LoginView", "Login")</p><!--MUDAR-->
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CLIENTES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <p class="dropdown-item">@Html.ActionLink("CADASTRADOS", "ListagemUsuarios", "Usuario")</p>
                            <p class="dropdown-item">@Html.ActionLink("CADASTRAR NOVO", "CriarAdministrador", "Usuario")</p>
                        </div>
                    </li>
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MEU PERFIL
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <p class="dropdown-item">@Html.ActionLink("ALTERAR SENHA", "LoginView", "Login")</p> <!--MUDAR-->
                            <p class="dropdown-item">@Html.ActionLink("EDITAR DADOS", "DetalhesAdministrador", "Usuario")</p> 
                        </div>
                    </li>

                 <li>@Html.ActionLink("Distribuidoras", "LoginView", "Login")</li><!--MUDAR-->
                <!--EMPRESA-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PEDIDOS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <p class="dropdown-item">@Html.ActionLink("ANALISAR PEDIDOS", "LoginView", "Login")</p> <!--MUDAR-->
                            <p class="dropdown-item">@Html.ActionLink("HISTORICO", "Details", "Usuario")</p><!--MUDAR-->
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PRODUTOS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <p class="dropdown-item">@Html.ActionLink("CADASTRADOS", "Index", "Produto")</p><!--MUDAR-->
                            <p class="dropdown-item">@Html.ActionLink("CADASTRAR NOVO", "Create", "Produto")</p><!--MUDAR-->
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            MEU PERFIL
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <p class="dropdown-item">@Html.ActionLink("ALTERAR SENHA", "LoginView", "Login")</p> <!--MUDAR-->
                            <p class="dropdown-item">@Html.ActionLink("EDITAR DADOS", "Details", "Usuario")</p><!--MUDAR-->
                        </div>
                    </li>

                    <!--TODOS-->
                    <li>@Html.ActionLink(" SAIR ", "Index", "Home")</li>


            }
                    <li>@Html.ActionLink("ACESSAR", "LoginView", "Login")</li>
                </ul>
            </div>
            
        </div>
    </div>
    <hr />
    <!--<div class="container body-content ">-->
        @RenderBody()
        <hr />
    <div class="panel-footer">
        <p>&copy; @DateTime.Now.Year -Delivery Água e Gás trazendo o produto para pertinho de VOCÊ!</p>
    </div>

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @RenderSection("scripts", required: false)
</body>
</html>
