@model Model.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<center>

                    <div style=" font-family:'Times New Roman'; color:black; background-color: darkslateblue" class="navbar navbar-inverse navbar-fixed-top">
                        @if (Model.IsAdmin)
                        {
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                                    @Html.ActionLink("DELIVERYÁGUA&GÁS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                MEU PERFIL
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <p class="dropdown-item">@Html.ActionLink("ALTERAR SENHA", "LoginView", "Login")</p>
                                                <p class="dropdown-item">@Html.ActionLink("VISUALIZAR DADOS", "Details", new { id = Model.Id })</p>
                                            </div>
                                        </li>

                                        <li>@Html.ActionLink("MEUS PEDIDOS", "About", "Home")</li>

                                        <li>@Html.ActionLink("REALIZAR PEDIDO", "Contact", "Home")</li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                DISTRIBUIDORAS
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <p class="dropdown-item">@Html.ActionLink("DISTRIBUIDORAS CADASTRADAS", "LoginView", "Login")</p>
                                                <p class="dropdown-item">@Html.ActionLink("CADASTRAR NOVA", "LoginView", "Login")</p>
                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                CLIENTES
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <p class="dropdown-item">@Html.ActionLink("CLIENTES CADASTRADOS", "LoginView", "Login")</p>
                                                <p class="dropdown-item">@Html.ActionLink("CADASTRAR NOVO", "LoginView", "Login")</p>
                                            </div>
                                        </li>

                                    </ul>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                                    @Html.ActionLink("DELIVERYÁGUA&GÁS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                MEU PERFIL
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <p class="dropdown-item">@Html.ActionLink("ALTERAR SENHA", "LoginView", "Login")</p>
                                                <p class="dropdown-item">@Html.ActionLink("VISUALIZAR DADOS", "LoginView", "Login")</p>
                                            </div>
                                        </li>

                                        <li>@Html.ActionLink("MEUS PEDIDOS", "About", "Home")</li>

                                        <li>@Html.ActionLink("REALIZAR PEDIDO", "Contact", "Home")</li>

                                        <li>@Html.ActionLink("DISTRIBUIDORAS", "Contact", "Home")</li>
                                    </ul>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

<center>
    <div>
        <h2>PERFIL</h2>
        <hr />
        <div class="row ">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div style="padding: 10;">
                    <div class="row thumbnail">
                        
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nome)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Telefone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Login)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Login)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.Cidade)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Cidade)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.Estado)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Estado)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.Bairro)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Bairro)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.RuaAv)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Endereco.RuaAv)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.Numero)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Numero)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <p>
            @Html.ActionLink("EDITAR DADOS", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("VOLTAR A PAGINA INICIAL", "Index")
        </p>
    </div>
    </center>