@model Model.Models.Usuario

@{
    ViewBag.Title = "DetailsAdministrador";
}

<center>
    <div>
        <h2>MEUS DADOS</h2>
        <hr />
        <div class="row ">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div style="padding: 10;">
                    <div class="row thumbnail">
                        
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Nome)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nome)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Telefone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Login)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Login)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.Cidade)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Cidade)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.Estado)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Estado)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.Bairro)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Bairro)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.RuaAv)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Endereco.RuaAv)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Endereco.Numero)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Numero)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <p>
            @Html.ActionLink("EDITAR DADOS", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("VOLTAR A PAGINA INICIAL", "Index")
        </p>
    </div>
    </center>