@model Model.Models.Usuario

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="background-color: blueviolet"  class="navbar navbar-inverse navbar-fixed-top">
    @if (Model.IsAdmin)
    {
       <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Meu Perfil", "Index", "Home")</li>
                    <li>@Html.ActionLink("Meus Pedidos", "About", "Home")</li>
                    <li>@Html.ActionLink("Realizar Pedido", "Contact", "Home")</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Empresa
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <p class="dropdown-item">@Html.ActionLink("Realizar Pedido", "LoginView", "Login")</p>
                            <p class="dropdown-item" href="#">Another action</p>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div >
    }
    else
    {
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    }
</div>