@model IEnumerable<Model.Models.Usuario>

@{
    ViewBag.Title = "ListagemUsuarios";
}

<center>

    <div class="row ">
        <div class="col-lg-12">
            <div style="padding: 10px;">
                <div class="row thumbnail">
                    <h2>Usuarios</h2>

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Endereco.Bairro)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Login)
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Endereco.Bairro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Login)
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                    <p>
                        @Html.ActionLink("Adicionar Novo", "Create")
                    </p>
                </div>
            </div>
        </div>
    </div>
</center>